@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');
.up{
    width: 1480px;
    height: 718px;
    background-image: url(bg-hero-desktop.svg);
    background-position: center;
    background-color: hsl(193, 100%, 96%);
}
.l1 img{
margin: 30px;
float: left;
}
.button-right-height{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
width: 200px;
height: 39px;
margin: 30px;
background-color: white;
border: none;
border-radius: 20px;
float: right;
box-shadow: hsl(0, 0%, 64%) 2px 5px 15px;
font-weight: 800;
}
.down{
    width: 400px;
    height: 200px;
    padding-top: 200px;
    padding-left: 80px;
}
.button-left-down button{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    width: 200px;
    height: 39px;
    margin: 0px;
    color: white;
    background-color: rgb(252, 0, 189);
    border: none;
    border-radius: 20px;
    float: left;
    box-shadow: hsl(0, 0%, 64%) 2px 5px 15px;
    font-weight: 800;
    }
    .p2 img{
        width: 600px;
        height: 450px;
        margin-left: 700px;
         margin-top: -300px;
    }
    .l2{
        font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    }
    .l3{
        font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    }
    .mid{
        width: 1440px;
        height: 3000px;
    }
    .kolmna1{
        width: 1150px;
    height: 700px;
    color: white;
    background-color: rgb(252, 0, 189);
    border: none;
    border-radius: 20px;
    float: left;
    box-shadow: hsl(0, 0%, 64%) 2px 5px 15px;
    font-weight: 800;
    }